.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  column-gap: 16px;
  background: var(--token-zwjHBkOx6Xk0);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.freeBox__ghn70 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
.img {
  animation: none;
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__ySuOt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.link__fzEsy {
  color: #ffffffd9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__rIKd {
  color: #ffffffd9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__vAkVl {
  color: #ffffffd9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__mNih0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  width: 100px;
  flex-shrink: 0;
}
.text__d0B3Q {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #eff6ff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-right: 0px;
}
.svg___2UFLb {
  position: relative;
  height: 1em;
}
.svg__vPvdJ {
  position: relative;
  height: 1em;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background:
    linear-gradient(#000000b3, #000000b3),
    url("/plasmic/freelance/images/domenicoLoiaHGv2TfOh0NsUnsplashJpg.jpg") left 50% top 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 128px 32px;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__dHzoK {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 48px;
  row-gap: 32px;
  color: #ffffff;
}
.text__lvmI2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #ffffffd9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__yx469 {
  font-size: 20px;
  color: #ffffff80;
  text-align: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__fiXat {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  color: #ffffff;
}
.button__olz2N:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___3A4Le {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #374151;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kiY5 {
  position: relative;
  color: #111827;
  height: 1em;
}
.svg__eFgCe {
  position: relative;
  height: 1em;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.serviceIOffer {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 10px;
  background: #0f172a;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 20px;
}
.serviceIOffer > * {
  grid-column: 4;
}
.freeBox__sDmk0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.h2__mr4Tt {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text___2Y0Ah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.columns__kTdeo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__kTdeo > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__kTdeo > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__kTdeo > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.column___85PEq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.customWebDevelopment:global(.__wab_instance) {
  position: relative;
}
.column__tFQdt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.customWebDevelopment2:global(.__wab_instance) {
  position: relative;
}
.column__o8Xr7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.customWebDevelopment3:global(.__wab_instance) {
  position: relative;
}
.button__xFq9V:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__a1PTg {
  position: relative;
  height: 1em;
}
.text__frKKt {
  white-space: pre;
}
.svg__cHqu {
  position: relative;
  height: 1em;
}
.whatYouCanDoThroughYourWebsite {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-zwjHBkOx6Xk0);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 20px;
}
.whatYouCanDoThroughYourWebsite > * {
  grid-column: 4;
}
.h2__dYxin {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.columns__yrCFa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__yrCFa > :nth-child(4n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yrCFa > :nth-child(4n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yrCFa > :nth-child(4n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__yrCFa > :nth-child(4n + 4) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.column__rbYbj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.templateHolder__nkgLk:global(.__wab_instance) {
  position: relative;
}
.column___3IHhr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.templateHolder__hbDla:global(.__wab_instance) {
  position: relative;
}
.column__aYqZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.templateHolder__e8EAw:global(.__wab_instance) {
  position: relative;
}
.column___72OGw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.templateHolder__a65Ib:global(.__wab_instance) {
  position: relative;
}
.processSteps {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 20px;
  background: var(--token-IvcA_TFDcQSw);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 20px;
}
.processSteps > * {
  grid-column: 4;
}
.h2__k8Tfr {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.columns__rKpud {
  display: flex;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__rKpud > :nth-child(4n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__rKpud > :nth-child(4n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__rKpud > :nth-child(4n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__rKpud > :nth-child(4n + 4) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.column___7VQ7W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__esb1H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__iv51N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__a2Da9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.section {
  display: flex;
  position: relative;
  width: 100%;
  background: var(--token-zwjHBkOx6Xk0);
  grid-row-gap: 30px;
  flex-direction: row;
  min-width: 0;
  padding: 100px 20px;
}
.freeBox__z14PC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 20px;
}
.h2__jw9Pi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.text___3Fv6Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #b8b7b7;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__k0Vi2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 543px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  color: #020000;
  background: var(--token-jgohepLVeKvh);
  text-align: left;
  border-radius: 20px;
  padding: 20px;
  border: 5px solid var(--token-YH6Je1L6b81r);
}
.formField__yrKby:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___4RSu1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__vKDn:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__spaBm:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  height: 154px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 120px;
}
.button__w1OnQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
}
.text__zaIxn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
