.root {
  display: flex;
  width: 418px;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #1e293b;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #0000005c;
  border-radius: 20px;
  padding: 20px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: none;
  color: #ffffff;
  min-width: 0;
}
